[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywemo = "*"
flask = "*"
schedule = "*"
flask-apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.12"
